@tailwind base;
@tailwind components;
@tailwind utilities;

*::-webkit-scrollbar {
  width: 5px;
}

*::-webkit-scrollbar-track {
  background: transparent;
  border-radius: 50%;
}

*::-webkit-scrollbar-thumb {
  background: rgb(136, 136, 136);
  @apply rounded-lg
}
